synthesis/engine/__pycache__/
synthesis/data/__pycache__/
OUTPUT/pretrained_model/ViT-B-32.pt
OUTPUT/pretrained_model/taming_dvae/last.ckpt
synthesis/data/__pycache__/
synthesis/data/utils/__pycache__/
synthesis/distributed/__pycache__/
synthesis/engine/__pycache__/
synthesis/modeling/__pycache__/
synthesis/modeling/codecs/image_codec/__pycache__/
synthesis/modeling/embeddings/__pycache__/
synthesis/modeling/models/__pycache__/
synthesis/modeling/models/jukebox.egg-info/
synthesis/modeling/modules/clip/__pycache__/
synthesis/modeling/transformers/__pycache__/
synthesis/taming/__pycache__/
synthesis/taming/modules/
synthesis/taming/modules/discriminator/__pycache__/
synthesis/taming/modules/losses/__pycache__/
synthesis/utils/__pycache__/
